{% extends 'post/base.html' %}

{% block title %}
Страница про нас
{% endblock %}

{% block content %}
<p><BLOCKQUOTE><font size="12" color= "#0000">О  нас:</font></BLOCKQUOTE></p>
    <p style="font-:'Comic Sans MS', cursive"><font size="5">Лучшее, что есть у человека, - это собака.</font></p>
    <p style="font-family:'Comic Sans MS', cursive"><font size="5">Питомник Bouncy kings поможет осуществиться Вашей мечте.</font></p>
    <p style="font-family:'Comic Sans MS', cursive"><font size="5">В питомнике есть такие попроды как:</font></p>
    <p style="font-family:'Comic Sans MS', cursive"><li><font size="5">Вельш корги пемброк</font></li></p>
    <p dir="ltr" style="font-family:'Comic Sans MS', cursive"><li><font size="5">Бигли</font></li></p>
    <p dir="ltr" style="font-family:'Comic Sans MS', cursive"><li><font size="5">Джек рассел терьеры</font></li></p>
    <p style="font-family:'Comic Sans MS', cursive"><font size="5">Профессиональный многопородный питомник Bouncy kings
    В питомнике находятся только высокопордные собаки. Наши собаки участвуют в выставках, занимаются аджилити.
        Приобратая щенка, Вы преобратете друга. Наши щенки находятся не только в Беларуси, а разъезжаются по всему Миру:
        Эстония, Россия, Англия и др.

    </font></p>
{% endblock %}
