{% extends 'post/base1.html' %}

{% block title %}
Наши собаки
{% endblock %}

{% block content %}
    <h1>Наши собак</h1>
     <img style="margin-left: 200px" src="static/images/irma.jpg" width="400" height="420">
     <h7 style="margin-left: 80px"  aria-current="page" >Смолли Минкс Анаитис</h7>
     <img style="margin-left: 200px" src="static/images/vanda.jpg" width="400" height="400">
    <h7  style="margin-left: 80px"  aria-current="page" >Айда Ванда</h7>
     <img style="margin-left: 200px" src="static/images/goldi.jpg" width="400" height="400">
    <h7 style="margin-left: 80px"  aria-current="page" >Васильева Голди</h7>
         <img style="margin-left: 200px" src="static/images/mike.jpg" width="480" height="350">
     <h7 style="margin-left: 80px"  aria-current="page" >Flyinf Eagle Extrim Be</h7>
     <img style="margin-left: 200px" src="static/images/mira.jpg" width="350" height="400">
    <h7  style="margin-left: 80px"  aria-current="page" >Hunter of Taurica Gee Gee</h7>
     <img style="margin-left: 200px" src="static/images/layma.jpg" width="400" height="400">
    <h7 style="margin-left: 80px"  aria-current="page" >Лавли Лайма</h7>
{% endblock %}
