{% extends 'post/base1.html' %}

{% block title %}
Щенки вельш корги пемброк
{% endblock %}

{% block content %}
    <h1>Щенки вельш корги пемброк</h1>
        <h3>Бетти Бу</h3>
     <img style="margin-left: 200px" src="static/images/betti1.jpg" width="400" height="370">
     <img style="margin-left: 200px" src="static/images/betti2.jpg" width="400" height="370">
     <img style="margin-left: 200px" src="static/images/betti3.jpg" width="400" height="300">
     <img style="margin-left: 200px" src="static/images/betti4.jpg" width="380" height="290">
     <img style="margin-left: 200px" src="static/images/betti5.jpg" width="400" height="300">
     <img style="margin-left: 200px" src="static/images/betti6.jpg" width="450" height="350">
     <img style="margin-left: 200px" src="static/images/betti7.jpg" width="400" height="300">
     <img style="margin-left: 200px" src="static/images/betti8.jpg" width="400" height="300">

{% endblock %}
