{% extends 'post/base1.html' %}

{% block title %}
Щенки бигль
{% endblock %}

{% block content %}
    <h1 style="margin-top: 20px">Щенки бигль</h1>
     <img style="margin-left: 200px" src="static/images/beagle1.jpg" width="400" height="370">
     <img style="margin-left: 200px" src="static/images/beagle2.jpg" width="400" height="370">
     <img style="margin-left: 200px" src="static/images/beagle3.jpg" width="400" height="330">
     <img style="margin-left: 200px" src="static/images/beagle4.jpg" width="380" height="320">
     <img style="margin-left: 200px" src="static/images/beagle5.jpg" width="400" height="330">
     <img style="margin-left: 200px" src="static/images/beagle6.jpg" width="450" height="370">
     <img style="margin-left: 200px" src="static/images/beagle7.jpg" width="450" height="300">
     <img style="margin-left: 200px" src="static/images/beagle8.jpg" width="420" height="300">

{% endblock %}
