{% extends 'post/base1.html' %}

{% block title %}
Щенки бигль
{% endblock %}

{% block content %}

<section class="elementor-section elementor-top-section elementor-element elementor-element-77ec003 elementor-section-height-min-height elementor-section-items-top elementor-section-stretched elementor-section-boxed elementor-section-height-default" data-id="77ec003" data-element_type="section"
         data-settings="{&quot;stretch_section&quot;:&quot;section-stretched&quot;,&quot;background_background&quot;:&quot;classic&quot;}" style="width: 965px; left: -45px;">
						<div class="elementor-container elementor-column-gap-default">
					<div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-6a988fa"
                         data-id="6a988fa" data-element_type="column" data-settings="{&quot;avante_ext_is_scrollme&quot;:&quot;false&quot;,&quot;avante_ext_is_smoove&quot;:&quot;false&quot;,&quot;avante_ext_is_parallax_mouse&quot;:&quot;false&quot;,&quot;avante_ext_is_infinite&quot;:&quot;false&quot;}">
			<div class="elementor-widget-wrap elementor-element-populated smooved" style="perspective: 1000px;">
								<div class="elementor-element elementor-element-9d159c8 elementor-widget elementor-widget-heading init-smoove smooved"
                                     data-id="9d159c8" data-element_type="widget" data-settings="{&quot;avante_ext_is_smoove&quot;:&quot;true&quot;,&quot;avante_ext_smoove_duration&quot;:500,&quot;avante_ext_smoove_translatex&quot;:{&quot;unit&quot;:&quot;px&quot;
                                     ,&quot;size&quot;:20,&quot;sizes&quot;:[]},&quot;avante_ext_is_scrollme&quot;:&quot;false&quot;,&quot;avante_ext_smoove_disable&quot;:1,&quot;avante_ext_smoove_scalex&quot;:{&quot;unit&quot;:&quot;px&quot;,&quot;size&quot;:1,&quot;sizes&quot;
                                     :[]},&quot;avante_ext_smoove_scaley&quot;:{&quot;unit&quot;:&quot;px&quot;,&quot;size&quot;:1,&quot;sizes&quot;:[]},&quot;avante_ext_smoove_rotatex&quot;
                                     :{&quot;unit&quot;:&quot;px&quot;,&quot;size&quot;:0,&quot;sizes&quot;:[]},&quot;avante_ext_smoove_rotatey&quot;:{&quot;unit&quot;:&quot;px&quot;,&quot;size&quot;:0,&quot;sizes&quot;:[]},&quot;avante_ext_smoove_rotatez&quot;
                                     :{&quot;unit&quot;:&quot;px&quot;,&quot;size&quot;:0,&quot;sizes&quot;:[]},&quot;avante_ext_smoove_translatey&quot;:{&quot;unit&quot;:&quot;px&quot;,&quot;size&quot;:0,&quot;sizes&quot;:[]},&quot;avante_ext_smoove_translatez&quot;
                                     :{&quot;unit&quot;:&quot;px&quot;,&quot;size&quot;:0,&quot;sizes&quot;:[]},&quot;avante_ext_smoove_skewx&quot;:{&quot;unit&quot;:&quot;px&quot;,&quot;size&quot;:0,&quot;sizes&quot;:[]},&quot;avante_ext_smoove_skewy&quot;
                                     :{&quot;unit&quot;:&quot;px&quot;,&quot;size&quot;:0,&quot;sizes&quot;:[]},&quot;avante_ext_smoove_perspective&quot;:{&quot;unit&quot;:&quot;px&quot;,&quot;size&quot;:1000,&quot;sizes&quot;:[]},&quot;avante_ext_is_parallax_mouse&quot;
                                     :&quot;false&quot;,&quot;avante_ext_is_infinite&quot;:&quot;false&quot;}" data-widget_type="heading.default" style="transition-duration: 500ms; opacity: 1;">
				<div class="elementor-widget-container">
			<h3 class="elementor-heading-title elementor-size-default">Все пометы</h3>		</div>
				</div>
				<div class="elementor-element elementor-element-e194e23 elementor-widget elementor-widget-avante-portfolio-contain" data-id="e194e23" data-element_type="widget" data-settings="{&quot;avante_ext_is_scrollme&quot;:&quot;false&quot;,&quot;avante_ext_is_smoove&quot;:&quot;false&quot;
				,&quot;avante_ext_is_parallax_mouse&quot;:&quot;false&quot;,&quot;avante_ext_is_infinite&quot;:&quot;false&quot;}" data-widget_type="avante-portfolio-contain.default">
				<div class="elementor-widget-container">
			<div class="portfolio-classic-container contain">
<div class="portfolio-classic-content-wrapper portfolio-classic layout-avante-three-cols smooved" data-cols="3" style="perspective: 1000px;">
		<div class="portfolio-classic-grid-wrapper avante-three-cols portfolio-1 tile scale-anm all no_filter smoove disable_tablet smooved" data-delay="150" data-minwidth="769" data-move-y="45px" style="opacity: 1; transition-delay: 150ms;">
			<br class="clear">
			<div class="portfolio-classic-content">
				<h3 class="portfolio-classic_title"><a aria-current="page" href="{% url 'pometkorgi' %}">Щенки вельш корги пемброк</a></h3>
                <div class="portfolio-classic-img grid_tilt">
				<img src="static/images/pometkorgi.jpg" width="600" height="500">
                    <h3 class="portfolio-classic_title"><a style="margin-top: 100px" aria-current="page" href="{% url 'pometbeagle' %}">Щенки бигль</a></h3>
                <div class="portfolio-classic-img grid_tilt">
				<img src="static/images/pometbeagle.jpg" width="620" height="500">
			</div>
			</div>
            			<div>
					<a href=""></a>
				</div>
		</div>

<br class="clear">
</div>
</div>
 </div>
</div>
</div>
</div>
</div>
 </div>
</section>

{% endblock %}